<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>证书信息</title>

<link href="/static/qr_code/css/awp.css" rel="stylesheet" type="text/css" media="screen" />

</head>
<body style="background-color:#daecf6;">
<!----模板内容开始---->

<table width="500" border="1" align="center" cellpadding="8" bgcolor="#FFFFFF" bordercolor="#999999" style="font-family: Microsoft YaHei, Verdana, Arial, Helvetica, sans-serif; font-size:14px;">
  
  
  
  <tr>
    <td width="200" align="right">姓名：</td>
    <td id="name" ></td>
  </tr>
  <tr>
    <td align="right">性别：</td>
    <td id="name" ></td>
  </tr>
  <tr>
    <td align="right">出生日期：</td>
	<td id="date_of_birth"></td>
  </tr>
  <tr>
    <td align="right">证书编号：</td>
    <td id="certificate_no"></td>
  </tr>
  <tr>
    <td align="right">身份证号：</td>
    <td id="id_card"></td>
  </tr>
  <tr>
    <td align="right">职业（工种）及等级：</td>
    <td id="professional_level"></td>
  </tr>
  <tr>
    <td align="right">理论知识考试成绩：</td>
    <td id="results_1"></td>
  </tr>
  <tr>
    <td align="right">操作技能考核成绩：</td>
    <td id="results_2"></td>
  </tr>
  <tr>
    <td align="right">评定成绩：</td>
    <td id="assess"></td>
  </tr>
  <tr>
    <td align="right">颁证日期：</td>
    <td id="date"></td>
  </tr>
  <tr>
    <td align="right">发证单位：</td>
    <td id="unit"></td>
  </td>
  </tr>
  <tr>
    <td align="right">证书流水码所属号段：</td>
    <td id ='unit_no'></td>
  </tr>
</table>


<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        var getParam = function(key){
        var lot = location.search;
        var reg = new RegExp(".*" + key + "\\s*=([^=&#]*)(?=&|#|).*","g");
            return decodeURIComponent(lot.replace(reg, "$1"));
        }
        var nm = getParam("qr_id");
        $.ajax({
            url:'/qr_code/qr_code/',
            method:'get',
            data:{'qr_id':nm},
            dataType:'text',
            success:function(result){
                var json_dict = $.parseJSON(result);
                if(json_dict['ret_cd'] === 200){
                    var successResult = json_dict["successResult"];
                    for(var i=0; i < successResult.length;i++){
                        var tmpResult = successResult[i];
                        $("#name").text(tmpResult["name"]);
                        $("#sex").text(tmpResult["sex"]);
                        $("#date_of_birth").text(tmpResult["date_of_birth"]);
                        $("#certificate_no").text(tmpResult["certificate_no"]);
                        $("#id_card").text(tmpResult["id_card"]);
                        $("#professional_level").text(tmpResult["professional_level"]);
                        $("#results_1").text(tmpResult["results_1"]);
                        $("#results_2").text(tmpResult["results_2"]);
                        $("#assess").text(tmpResult["assess"]);
                        $("#date").text(tmpResult["date"]);
                        $("#unit").text(tmpResult["unit"]);
                        $("#unit_no").text(tmpResult["unit_no"]);
                    }
                }else{
                    window.location.href='/qr_code/err/';  
                }
            }
        });

    });
</script>
</body>
</html>

<!----模板内容结束---->
</body>
</html>