



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>证书信息</title>

<link href="/static/qr_code/css/awp.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript">
        function CreateQRCode(element, data, w, h) {
            var qrcode = new QRCode(element, {                
                text: data,
                width: w,
                height: h,
                colorLight: "rgba(0, 0, 0, 0)",
                correctLevel: QRCode.CorrectLevel.L
            });
        }
</script>
</head>
<body style="background-color:#daecf6;">
<!----模板内容开始---->

<table width="500" border="1" align="center" cellpadding="8" bgcolor="#FFFFFF" bordercolor="#999999" style="font-family: Microsoft YaHei, Verdana, Arial, Helvetica, sans-serif; font-size:14px;">
  
  
  
  <tr>
    <td width="200" align="right">姓名：</td>
    <td>肖帆帆 </td>
  </tr>
  <tr>
    <td align="right">性别：</td>
    <td>女</td>
  </tr>
  <tr>
    <td align="right">出生日期：</td>
	
	
	<td>1990 年 03 月 03 日 </td>
	
  </tr>
  <tr>
    <td align="right">证书编号：</td>
    <td>1658000000323699</td>
  </tr>
  <tr>
    <td align="right">身份证号：</td>
    <td>130929199003038461</td>
  </tr>
  <tr>
    <td align="right">职业（工种）及等级：</td>
    <td>模具设计师三级  
	</td>
  </tr>
  <tr>
    <td align="right">理论知识考试成绩：</td>
    <td>
	77.0 
	
	
	
	
	
	</td>
  </tr>
  <tr>
    <td align="right">操作技能考核成绩：</td>
    <td>
	80.0 
	
	
	
	
	
	</td>
  </tr>
  
  
  
  <tr>
    <td align="right">评定成绩：</td>
    <td>合格</td>
  </tr>
  
  <tr>
    <td align="right">颁证日期：</td>
    <td >2016-08-04</td>
  </tr>
  <tr>
    <td align="right">发证单位：</td>
    <td>中国轻工业职业技能鉴定指导中心
</td>
  </tr>
  <tr>
    <td align="right">证书流水码所属号段：</td>
    <td>
			
	
			
	
			<span >
			      <b>18024001</b> - <b>18034000 </b>
			</span>
			
			
			
			
	<br>		
				
			
	
			
	   
			
	&nbsp;
	</td>
  </tr>
</table>


<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        var getParam = function(key){
        var lot = location.search;
        var reg = new RegExp(".*" + key + "\\s*=([^=&#]*)(?=&|#|).*","g");
            return decodeURIComponent(lot.replace(reg, "$1"));
        }
        var nm = getParam("qr_id");
        alert (nm)
        $.ajax({
            url:'/qr_code/qr_code/',
            method:'get',
            data:{'name':nm},
            dataType:'text',
            success:function(result){
                var json_dict = $.parseJSON(result);
                if(json_dict['ret_cd'] === 200){
                    var successResult = json_dict["successResult"];
                    for(var i=0; i < successResult.length;i++){
                        alert()
                    }
                }else{
                    window.location.href='/qr_code/err/';  
                }
            }
        });

    });
</script>
</body>
</html>

<!----模板内容结束---->
</body>
</html>